{% if counter-one > 5 %}
    <div>
		<div class="page-holder page-holder-one"></div>
	</div>
{% endif %}
{% if counter == 0 %}
    <div>
		<p>Sorry,no blog！</p>
    </div>
{% endif %}

{% if counter-two > 5 %}
    <div>
		<div class="page-holder page-holder-two tab-hidden"></div>
	</div>
{% endif %}
{% if counter == 0 %}
    <div>
		<p>Sorry,no blog！</p>
    </div>
{% endif %}

{% if counter-three > 5 %}
<div>
    <div class="page-holder page-holder-three tab-hidden"></div>
</div>
{% endif %}
{% if counter == 0 %}
<div>
    <p>Sorry,no blog！</p>
</div>
{% endif %}

{% if counter-four > 5 %}
<div>
    <div class="page-holder page-holder-four tab-hidden"></div>
</div>
{% endif %}
{% if counter == 0 %}
<div>
    <p>Sorry,no blog！</p>
</div>
{% endif %}
{% if counter-four > 5 %}
<div>
    <div class="page-holder page-holder-five tab-hidden"></div>
</div>
{% endif %}
{% if counter == 0 %}
<div>
    <p>Sorry,no blog！</p>
</div>
{% endif %}

{% if counter-four > 5 %}
<div>
    <div class="page-holder page-holder-six tab-hidden"></div>
</div>
{% endif %}
{% if counter == 0 %}
<div>
    <p>Sorry,no blog！</p>
</div>
{% endif %}

{% if counter-four > 5 %}
<div>
    <div class="page-holder page-holder-seven tab-hidden"></div>
</div>
{% endif %}
{% if counter == 0 %}
<div>
    <p>Sorry,no blog！</p>
</div>
{% endif %}

{% if counter-four > 5 %}
<div>
    <div class="page-holder page-holder-eight tab-hidden"></div>
</div>
{% endif %}
{% if counter == 0 %}
<div>
    <p>Sorry,no blog！</p>
</div>
{% endif %}

{% if counter-four > 5 %}
<div>
    <div class="page-holder page-holder-nine tab-hidden"></div>
</div>
{% endif %}
{% if counter == 0 %}
<div>
    <p>Sorry,no blog！</p>
</div>
{% endif %}
